[Unit]
Description=Laravel Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=python3 "/home/pi/IPMEDT5/Python code/wachtrijCheck.py"
StandardError=journal
[Install]
WantedBy=multi-user.target

