[Unit]
Description=Laravel Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/IPMEDT5
ExecStart=python3 python/wachtrijCheck.py
StandardError=journal
[Install]
WantedBy=multi-user.target

